.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.brown {
  background-color: brown;
}
table{
  text-align: center;
}
#blue1 {
  width: 20px;
}
